apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- ../../base
nameSuffix: -prod
commonLabels:
  variant: prod
patches:
- patch: |-
    apiVersion: apps/v1
    kind: Deployment
    metadata:
      name: atd
    spec:
      template:
        spec:
          containers:
          - name: gluetun
            image: ghcr.io/x81k25/automatic-transmission-daemon-vpn:main
            env:
            - name: WIREGUARD_ADDRESSES
              value: "10.65.182.17/32"  # prod-specific (us-dal-wg-505)
            - name: WIREGUARD_ENDPOINT_IP
              value: "206.217.206.107"  # prod-specific (us-dal-wg-505)
          - name: transmission
            image: ghcr.io/x81k25/automatic-transmission-daemon-atd:main
            volumeMounts:
            - name: complete-volume
              mountPath: /downloads/complete
            - name: incomplete-volume
              mountPath: /downloads/incomplete
          volumes:
          - name: complete-volume
            hostPath:
              path: /d/media-cache/prod/complete
          - name: incomplete-volume
            hostPath:
              path: /d/media-cache/prod/incomplete
- target:
    version: v1
    kind: Service
    name: atd
  patch: |-
    - op: replace
      path: /spec/ports/0/port
      value: 9091
    - op: replace
      path: /spec/ports/0/nodePort
      value: 30091