# rear-diff/overlays/dev/kustomization.yaml
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- ../../base
namespace: media-dev
nameSuffix: -dev
commonLabels:
  variant: dev

images:
- name: 192.168.50.2:5050/media/rear-differential
  newTag: dev

patches:
- patch: |-
    apiVersion: apps/v1
    kind: Deployment
    metadata:
      name: rear-diff
    spec:
      template:
        spec:
          containers:
          - name: rear-diff-api
            volumeMounts:
            - name: media-cache
              mountPath: /d/media-cache/dev
          volumes:
          - name: media-cache
            hostPath:
              path: /d/media-cache/dev
              type: Directory
- target:
    version: v1
    kind: Service
    name: rear-diff
  patch: |-
    - op: replace
      path: /spec/ports/0/nodePort
      value: 30812