apiVersion: v1
kind: Service
metadata:
  name: dcgm-exporter
  namespace: observability
  labels:
    app: dcgm-exporter
  annotations:
    prometheus.io/scrape: "true"
    prometheus.io/port: "9400"
    prometheus.io/path: "/metrics"
spec:
  type: ClusterIP
  ports:
  - port: 9400
    targetPort: 9400
    protocol: TCP
    name: metrics
  selector:
    app: dcgm-exporter
