apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: media-stg
nameSuffix: -stg

resources:
  - ../../base

commonLabels:
  variant: stg

patches:
  - patch: |-
      apiVersion: apps/v1
      kind: Deployment
      metadata:
        name: center-console
      spec:
        template:
          spec:
            containers:
            - name: center-console
              image: 192.168.50.2:5050/media/center-console:stg
  - target:
      version: v1
      kind: Service
      name: center-console
    patch: |-
      - op: replace
        path: /spec/ports/0/nodePort
        value: 30851