# rear-diff/overlays/prod/kustomization.yaml
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- ../../base
namespace: media-prod
nameSuffix: -prod
commonLabels:
  variant: prod

images:
- name: ghcr.io/x81k25/rear-differential
  newTag: main

patches:
- patch: |-
    apiVersion: apps/v1
    kind: Deployment
    metadata:
      name: rear-diff
    spec:
      template:
        spec:
          containers:
          - name: rear-diff-api
            volumeMounts:
            - name: media-cache
              mountPath: /d/media-cache/prod
            - name: media-library
              mountPath: /k/media/video
          volumes:
          - name: media-cache
            hostPath:
              path: /d/media-cache/prod
              type: Directory
          - name: media-library
            hostPath:
              path: /k/media/video
              type: Directory
- target:
    version: v1
    kind: Service
    name: rear-diff
  patch: |-
    - op: replace
      path: /spec/ports/0/nodePort
      value: 30810