apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- ../../base
nameSuffix: -dev
commonLabels:
  variant: dev
patches:
- patch: |-
    apiVersion: apps/v1
    kind: Deployment
    metadata:
      name: atd
    spec:
      template:
        spec:
          containers:
          - name: gluetun
            image: ghcr.io/x81k25/automatic-transmission-daemon-vpn:dev
          - name: transmission
            image: ghcr.io/x81k25/automatic-transmission-daemon-atd:dev
            volumeMounts:
            - name: complete-volume
              mountPath: /downloads/complete
            - name: incomplete-volume
              mountPath: /downloads/incomplete
          volumes:
          - name: complete-volume
            hostPath:
              path: /d/media-cache/dev/complete
          - name: incomplete-volume
            hostPath:
              path: /d/media-cache/dev/incomplete
- target:
    version: v1
    kind: Service
    name: atd
  patch: |-
    - op: replace
      path: /spec/ports/0/port
      value: 9093
    - op: replace
      path: /spec/ports/0/nodePort
      value: 30092