apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: media-dev
nameSuffix: -dev

resources:
  - ../../base

commonLabels:
  variant: dev

# Image is set in base/deployment.yaml: 192.168.50.2:5050/media/center-console:dev

patches:
  - target:
      version: v1
      kind: Service
      name: center-console
    patch: |-
      - op: replace
        path: /spec/ports/0/nodePort
        value: 30852