apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- ../../base
nameSuffix: -dev
commonLabels:
  variant: dev
patches:
- patch: |-
    apiVersion: apps/v1
    kind: Deployment
    metadata:
      name: reel-driver
    spec:
      template:
        spec:
          containers:
          - name: reel-driver-api
            image: 192.168.50.2:5050/ai-ml/reel-driver/api:dev
            envFrom:
            - configMapRef:
                name: reel-driver-config-dev
            - configMapRef:
                name: reel-driver-api-config-dev
            - secretRef:
                name: reel-driver-secrets-dev
- target:
    version: v1
    kind: Service
    name: reel-driver
  patch: |-
    - op: replace
      path: /spec/ports/0/nodePort
      value: 30802