apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base

nameSuffix: -stg

patches:
- patch: |-
    apiVersion: apps/v1
    kind: Deployment
    metadata:
      name: wst-flyway
      namespace: pgsql
    spec:
      template:
        metadata:
          labels:
            environment: stg
        spec:
          initContainers:
          - name: wst-flyway-migrate
            envFrom:
            - configMapRef:
                name: flyway-config-stg
            - secretRef:
                name: flyway-secrets-stg
  target:
    kind: Deployment
    name: wst-flyway

images:
- name: 192.168.50.2:5050/infra/wiring-schematics
  newTag: stg


commonLabels:
  environment: stg