apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- ../../base
nameSuffix: -stg
commonLabels:
  variant: stg
patches:
- patch: |-
    apiVersion: apps/v1
    kind: Deployment
    metadata:
      name: atd
    spec:
      template:
        spec:
          containers:
          - name: gluetun
            image: ghcr.io/x81k25/automatic-transmission-daemon-vpn:stg
            env:
            - name: WIREGUARD_ADDRESSES
              value: "10.73.247.105/32"  # stg-specific
            - name: WIREGUARD_ENDPOINT_IP
              value: "206.217.206.87"  # stg-specific (us-dal-wg-504)
          - name: transmission
            image: ghcr.io/x81k25/automatic-transmission-daemon-atd:stg
            volumeMounts:
            - name: complete-volume
              mountPath: /downloads/complete
            - name: incomplete-volume
              mountPath: /downloads/incomplete
          volumes:
          - name: complete-volume
            hostPath:
              path: /d/media-cache/stg/complete
          - name: incomplete-volume
            hostPath:
              path: /d/media-cache/stg/incomplete
- target:
    version: v1
    kind: Service
    name: atd
  patch: |-
    - op: replace
      path: /spec/ports/0/port
      value: 9092
    - op: replace
      path: /spec/ports/0/nodePort
      value: 30092