# dagster/overlays/dev/kustomization.yaml
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: media-dev
resources:
- ../../base
nameSuffix: -dev
commonLabels:
  variant: dev
  environment: dev

images:
- name: ghcr.io/x81k25/dagstributor
  newTag: dev

patches:
# ConfigMap Patch
- patch: |-
    apiVersion: v1
    kind: ConfigMap
    metadata:
      name: dagster-pipeline-env
    data:
      DAGSTER_K8S_JOB_IMAGE_PULL_SECRETS: "ghcr-pull-image-secret"
      DAGSTER_K8S_JOB_SERVICE_ACCOUNT: "dagster-dev"
# Dagster Deployment Patch
- patch: |-
    apiVersion: apps/v1
    kind: Deployment
    metadata:
      name: dagster
    spec:
      template:
        spec:
          containers:
          - name: dagster-dagit
            env:
            - name: DAGSTER_K8S_PIPELINE_RUN_NAMESPACE
              value: media-dev
            - name: DAGSTER_K8S_JOB_IMAGE_PULL_SECRETS
              value: "ghcr-pull-image-secret"
            - name: DAGSTER_K8S_JOB_SERVICE_ACCOUNT
              value: "dagster-dev"
            resources:
              requests:
                cpu: 10m
                memory: 26Mi
              limits:
                memory: 1.5Gi
                cpu: 500m
          - name: dagster-daemon
            env:
            - name: DAGSTER_K8S_PIPELINE_RUN_NAMESPACE
              value: media-dev
            - name: DAGSTER_K8S_JOB_IMAGE_PULL_SECRETS
              value: "ghcr-pull-image-secret"
            - name: DAGSTER_K8S_JOB_SERVICE_ACCOUNT
              value: "dagster-dev"
            resources:
              requests:
                cpu: 10m
                memory: 26Mi
              limits:
                memory: 1Gi
                cpu: 500m
          volumes:
          - name: dagster-home
            hostPath:
              path: /d/k8s/volumes/dagster/dev/home
              type: DirectoryOrCreate
          - name: dagster-workspace
            hostPath:
              path: /d/k8s/volumes/dagster/dev/workspace
              type: DirectoryOrCreate

# Dagster Service Patch
- target:
    version: v1
    kind: Service
    name: dagster
  patch: |-
    - op: replace
      path: /spec/ports/0/nodePort
      value: 30302